.blog {
    background: white;
    width:96%;
    border-radius: 5px;
    padding:10px 15px;
    box-shadow: 3px 4px 3px #888;
    text-align: left;
    word-break: break-all;
    word-wrap:break-word;
    overflow: hidden;
}

.blog_title{
    font-size:24px;
    font-weight: 600;
}

.blog_msg{
    padding-top:10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #888;
    margin-bottom: 20px;
}
.blog_content{
    padding:0px 0px 20px 10px;
}
.send_comment{
    background: #acac;
    width:96%;
    border-radius:5px;
    padding:10px 15px;
    box-shadow: 3px 4px 3px #888;
    text-align: left;
    margin-top:50px;
}

.send_comment input{
    width:300px;
    height:34px;
    border:1px solid #ccc;
    border-radius: 5px;
    padding-left:5px;
    margin-top:10px;
    margin-bottom: 10px;
    font-size:14px;
}
.send_comment textarea{
    width:90%;
    height:100px;
    border:1px solid #ccc;
    padding:5px;
    margin-top:10px;
    margin-bottom: 10px;
    font-size:14px;
}
.send_comment button{
    width:100px;
    height:30px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin-top:10px;
    margin-bottom: 10px;
    font-size:14px;
}
.send_comment button:hover{
    background: #adadad;
}